.header {
    font-family: 'Roboto', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left-section {
        // background-color: firebrick;
        display: flex;
        align-items: center;
        margin-left: 30px;
        gap: 15px;

        .hamburger-img {
            height: 30px;
        }

        .youtube-img {
            height: 20px;
        }
    }

    .middle-section {
        // border: 1px solid #cccccc;
        display: flex;
        align-items: center;
        flex: 1;
        max-width: 470px;

        .search-input {
            border: 1px solid #cccccc;
            height: 40px;

            padding: 0;
            margin: 0;
            padding-left: 12px;
            font-size: 16px;
            box-sizing: border-box;

            border-bottom-left-radius: 2px;
            border-top-left-radius: 2px;

            flex: 1;

        }

        .search-button {
            border: 1px solid #cccccc;

            padding: 0;
            margin: 0;
            margin-left: -1px;
            height: 40px;
            width: 62px;

            border-bottom-right-radius: 2px;
            border-top-right-radius: 2px;

            .search-img {
                height: 24px; 
            }
        }

        .voice-button {
            height: 40px;
            border: 0;
            margin-left: 10px;
            border-radius: 20px;
            display: flex;
            align-items: center;

            .voice-img {
                height: 27px;
            }
        }
        
        

    }

    .right-section {
        margin-right: 50px;
        display: flex;
        align-items: center;
        gap: 15px;

        .services {
            height: 24px;
        }
    }
}