.sidebar {
    position: fixed;
    left: 0;
    top: 60px;
    width: 72px;
    gap: 10px;
    bottom: 0;
}

.sidebar-link {
    img {
        height: 24px;
        margin-bottom: 5px;
    }

    font-size: 10px;
    height: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}

.sidebar-link:hover {
    background-color: #eeeeee;
}