.container {
    
    display: flex;
    gap: 15px;
}

.select-item {
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.05);
    line-height: 20px;
    // height: 32px;
    display: inline-flex;
    align-items: center;
    padding: 5px 12px;
    border-radius: 8px;
}

.slider {
    width: 350px;
    overflow: hidden;
}

.component {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-left: 15px;
}

.slide-button {
    margin-left: 15px;
}